/* 搜索 */
@import '/public/icon_css/ali.css';
.title{
  display: flex;
  justify-content: space-around;
  align-items:center;
  line-height: 80rpx;
}
.titleson{
  font-size: 28px;
  color:red;
}
.searchBox {
  display: flex;
  height: 100rpx;
  line-height: 100rpx;
  padding-left: 50rpx;
  align-items: center;
}
.font10 {
  margin-left: 10rpx;
  font-size: 10px;
}

.searchBox-input {
  display: flex;
  margin-left: 40rpx;
  background: #fafafa;
  height: 70rpx;
  line-height: 70rpx;
  width: 450rpx;
  border-radius: 20rpx;
  padding: 0 30rpx;
  color: #a4a4a4;
}
.searchBox-input text {
  margin-right: 20rpx;
}

/* 推荐房源 */
.recommend {
  margin-top: 3px;
  background: #fff;
  color: #474747;
}
.recommend-search {
  display: flex;
  justify-content: space-around;
  height: 90rpx;
  line-height: 90rpx;
}
.recommend-list {
  border-top: 1px solid #cccccc;
  display: flex;
  padding: 20rpx;
}
.recommend-list image {
  width: 350rpx;
  height: 250rpx;
}

.recommend-list-item {
  margin-left: 6rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recommend-list-item-title{
  font-size: 15px;
  color:black;
  line-height: 18px;
}
.recommend-list-item-disre{
  display: flex;
  align-items:center;
}
.recommend-list-item-disre text{
  font-size: 20rpx;
  
}
.star{
  display: flex;
  color:yellow;
}
.recommend-list-item-spec {
  color: #ccc;
  font-size: 14px;
}
.recommend-list-item-tag text{
  margin: 3rpx;
}
.recommend-list-item-price {
  color: red;
}
.recommend-list-item-price text{
  font-weight: bold;
}

.tag1{
  padding: 5rpx;
  background: #C5EDDC;
  color: #5ECC9F;
  font-size: 10px;
  border-radius: 5px;
}
.tag2{
  padding: 5rpx;
  background: #C5EDDC;
  color: #5ECC9F;
  font-size: 10px;
  border-radius: 5px;
}
/* 回到顶部 */
.gototop{
  position: fixed;
  bottom: 50rpx;
  right: 30rpx;
  color: #ccc;
}
.font30{
  font-size: 40px;
}
.nav{
  position: relative;
}
.shadediv{
 background: #fff;
 width: 750rpx;
 height: 300rpx;
 position:absolute;
 top: 80rpx;
 z-index: 0;
 display: flex;
 opacity: 0;
 transition: all 1s;
}
.now{
  transition: all 1s;
  opacity: 1;
  z-index: 1000;
}