@import "/public/icon_css/ali.css";
/* 全局样式 */
page{
  font-size: 14px;
  height: 100%;
  width: 100%;
}
.content{
    background:#fffff0;
    height: 100%;
    width: 100%;
}
.box{
    width: 750rpx;
    height: 100rpx;
    display: flex;
    justify-content: space-around;
    padding: 50rpx 0;
    background: white;
}
.box .top{
    display: flex;
    flex-direction: column;
}
.box .icon{
    font-size: 30px;
}
/* 告示 */
.board{
    border:1px solid gray;
    height: 100rpx;
    line-height: 50rpx;
    width: 700rpx;
    background: white;
    display: flex;
    /* justify-content: space-around; */
    margin-left: 25rpx;
    border-radius: 10rpx;
    padding-left: 30rpx;
    box-sizing: border-box;
}
.board .fuli{
    font-size:20px;
    margin-right:20rpx;
    line-height:100rpx;
    color: red;
}
.board .board_right{
    margin-left: 20rpx;
}
.board_number{
    color:gray;
    font-size: 12px;
}
/* 内容开始 */
.body{
    background: white;
    margin-top:40rpx;
}
.body .body_top{
    display: flex;
    /* text-align: center; */
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 900;
    margin-top: 20rpx;
}
.body_content{
    display: flex;
    padding: 20rpx;
}
.content_one{
    border:1px solid gray;
    border-radius: 10rpx;
}
.one_image{
    width: 368rpx;
    height: 282rpx;
}
.one_content{
    margin:20rpx;
    line-height: 50rpx;
}
.one_shop{
    display: flex;
    align-items: center;
}
.one_shop image{
    width: 40rpx;
    height: 40rpx;
    margin-right:20rpx; 
}
.shop_brief{
    display: flex;
    flex-direction: column;
}